@page
@using pet4care.Models
@model pet4care.Pages.IndexModel
@{
}
<p>@Model.Debug</p>
<link rel="stylesheet" href="~/css/ListeGardiensStyle.css" />
<div>
    <h1 class="nomTitre">Liste des gardiens : </h1>
    <div>
        Filtres :
        <form method="post">
            Nom :
            <input type="text" id="nom" name="nom" />
            Prénom :
            <input type="text" id="prenom" name="prenom" />
            Ville :
            <input type="text" id="ville" name="ville" />
            <input type="submit" value="Filtrer" />
            @Html.AntiForgeryToken()
        </form>
    </div>

    <div style="display:flex;">
        @foreach (Client g in Model.Gardiens)
        {
            <div class="card text-white bg-secondary" style="width:auto;height:auto;margin:1em;">
                <div class="card-header">@g.Prenom @g.Nom</div>
                <div class="card-body" style="padding: 1em;">
                    Adresse : <a href="https://www.google.com/maps/place/@g.Adresse" target="_blank">@g.Adresse</a><br />
                    Télephone : @g.Tel<br />
                    <div> Moyenne des avis : @g.Moyenne</div>
                    <br/>
                    <a href="/ListeAvis/@g.Id" class="btn btn-warning">Voir les avis</a>
                    <button class="btn btn-primary">Faire une demande de gardiennage</button>
                </div>
            </div><br />
        }
    </div>
</div>
