@page
@model pet4care.Pages.ListeGardiensModel
@using pet4care.Models 
@{

}
<link rel="stylesheet" href="~/css/ListeGardiensStyle.css" />
<div>
    <h1 class="nomTitre">Liste des gardiens : </h1>
    <div>
        Filtres :
        <form method="post">
            Nom :
            <input type="text" id="nom" name="nom" />
            Prénom :
            <input type="text" id="prenom" name="prenom" />
            Ville :
            <input type="text" id="ville" name="ville" />



            <input type="submit" value="Filtrer" />
            @Html.AntiForgeryToken()



        </form>



    </div>





    @{foreach (Gardien g in Model.Gardiens) {
        <div class="@(g.Status ? "Dispo" : "NonDispo")">
            @(g.Prenom + " " + g.Nom)
            <br>
            Adresse : <a href="https://www.google.com/maps/place/@g.Adresse" target="_blank">@g.Adresse</a> 
            <br>
            Télephone : @g.Tel
            <br>
            Status : @(g.Status ? "Disponible" : "Pas disponible")
            <br>
            <div> Moyenne des avis : @g.Moyenne</div>
            <button class="btnDispo">Voir les avis</button>
            @{ if (g.Status == true) { 
                        <button class="btnDispo">Faire une demande de gardiennage</button>
                }

            }
            
        </div>
        <br />
        }

            }

</div>
