@page
@model pet4care.Pages.ListeGardiensModel
@using pet4care.Models 
@{

}
<link rel="stylesheet" href="~/css/ListeGardiensStyle.css" />
<div>
    <h1 class="nomTitre">Liste des gardiens : </h1>
    @{foreach (Gardien g in Model.Gardiens) {
        <div class="@(g.Status ? "Dispo" : "NonDispo")">
            @(g.Prenom + " " + g.Nom)
            <br>
            Adresse : <a href="https://www.google.com/maps/place/@g.Adresse" target="_blank">@g.Adresse</a> 
            <br>
            Télephone : @g.Tel
            <br>
            Status : @(g.Status ? "Disponible" : "Pas disponible")
            <br>
            <button class="btnDispo">Voir les avis</button>
            @{ if (g.Status == true) { 
                        <button class="btnDispo">Faire une demande de gardiennage</button>
                }

            }
            
        </div>
        <br />
        }

            }

</div>
